# Ignore virtual environment
stti-venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore environment files
.env

# Ignore other unnecessary files
*.log
*.tmp
*.bak
*.swp

# Allow all source files
!/src/
!/data/
!/notebooks/
!/tests/
!/README.md
!/requirements.txt
!/setup.py